@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800);.legaltext {
    white-space: pre-wrap
}

body, button, input, select, textarea {
    font-family: Open Sans;
}

*, *:after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.App {
  overflow: hidden;
}

/*.nav-link, .navbar-toggler-icon {
    color: #f6eae1 !important;
}*/

.navbar {
    font-size: 20px;
    background: #000 !important;
    opacity: 0.9;
}

.nav-link {
    /*color: white !important;*/
}


/*#menu5 ul {
    letter-spacing: -3px;
    line-height: 1.2em;
    float: left;
    clear: both;
}*/

/*#menu5 ul li {
    float: left;
}*/

#menu5 ul li a {
    display: block;
    text-decoration: none;
    padding: 10px 10px 5px 10px;
    color: #555;
    /*background-color: #fff;*/
    width: 170px;
}

#menu5 ul li a span{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
#menu5 ul li a span {
    display: block;
}

#menu5 ul li a span.text {
    padding: 0px 5px;
    font-family: Georgia, serif;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.7em;
    color: #444;
    visibility: hidden;
}

#menu5 ul li a span {
    display: block;
}

#menu5 ul li a:hover {
    color: #ccc;
}






.splash {
    background-color: #181818;
    color: #f6eae1;
}

.splash .asset-container {
    position: absolute;
    overflow: hidden;
    z-index: 0;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
}


.bg-media-hero-video {
    position: absolute;
    height: auto;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    max-width: 10000%;
    max-height: 10000%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    pointer-events: none;
}

/*.hero {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}



.hero-body, .section {
    padding: 3rem 1.5rem;
}*/


/*.hero-body {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}


.hero-body .container {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: auto;
}*/

.column {
    display: block;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    padding: .75rem;
}

.hero.is-dark .title {
    color: #f6eae1;
}

.hero.homepage .title {
    font-weight: 800;
}
.block:not(:last-child), .box:not(:last-child), .breadcrumb:not(:last-child), .content:not(:last-child), .highlight:not(:last-child), .level:not(:last-child), .list:not(:last-child), .message:not(:last-child), .notification:not(:last-child), .progress:not(:last-child), .subtitle:not(:last-child), .table-container:not(:last-child), .table:not(:last-child), .tabs:not(:last-child), .title:not(:last-child) {
    margin-bottom: 1.5rem;
}
.title.hero-title {
    font-size: 5rem;
    font-weight: 900;
}
.title {
    color: #fff;
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.125;
}
.subtitle, .title {
    word-break: break-word;
}




/*
--------------------------------------
--------------------------------------
--------------------------------------
--------------------------------------*/

.discord {
  color: white;
}

.discord .title{
  font-size: 4rem;
  font-weight: 800;
}

.discord h2 {
  padding-left:1rem;
  padding-top:1rem;
  font-size: 36px;
  font-weight:300;
}

.discord ul {
  padding-top: 1rem;
}

.discord li {
  color: grey;
  padding-bottom: 1rem;
}

.fieldWrapClosedBrand-1jWc-T {
    background-color: #7289da;
    color: #fff;
    border-radius: 3px;
}

.fieldWrapClosed-2LtmRz {
    height: 45px;
    position: absolute;
    margin-left: 0.5rem;
    bottom: 0;
    left: 0;
    right: 0;
}
.fieldWrap-FPKPdL {
    line-height: 45px;
    border-radius: 2px;
    font-size: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .35s cubic-bezier(.25,.25,.315,1.35);
    transition: all .35s cubic-bezier(.25,.25,.315,1.35);
    -webkit-transition-property: background-color;
    transition-property: background-color;
    vertical-align: top;
    overflow: hidden;
    display: block;
}




/*
--------------------------------------
--------------------------------------
--------------------------------------
--------------------------------------*/

.generalinfo {

}

.icon {
    max-width: 100px;
    margin: 0 auto;
    display: block;
}

.subtext {
    font-size: 12px;
    letter-spacing:1px;
}


/*
--------------------------------------
--------------------------------------
--------------------------------------
--------------------------------------*/


.donate {
  background-color: #6EB257;
  height: 95vh !important;
}

.donate h3 {
  font-size: 1.55rem;
}

.donate ul {
  padding-top: 0.5rem;
}

.donate li {
  color: green;
  padding-bottom: 1rem;
}

.price {
    position: absolute;
    padding-left: 2rem;
    font-size: 1.2rem;
    bottom: 2rem;
}

.fineprint {
  font-size: 0.7rem;
}








.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
    /*background-color: #111;*/
    font-weight: lighter;
    font-size: 1.25em;
    min-height: 10vh;
    padding: 3em;
}

.sociallinks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /*margin: 1em;*/
}

.sociallinks .link {
    display: flex;
    align-items: center;
    margin: 0 1em 0 1em;
    font-size: 2.5em;
    font-weight: lighter;
    color: #fff;
    transition: all 200ms;
}

.sociallinks .link:hover {
    transform: scale(1.15);
}

.link:hover.youtube {
    color: #B71D1C;
}

.link:hover.twitter {
    color: #1DA1F3;
}

.link:hover.twitch {
    color: #6441A4;
}

.link:hover.discord {
    color: #7289DA;
}

.link:hover.steam {
    color: #376ebb;
}



hr {
    background-color: #fff;
    border-radius: 3px;
    height: 1px;
    margin: 1em 0 1em 0;
    width: 50%;
}

.copyright {
    margin-top: 1em;
}















.generalinfo {
    position: relative;
    padding: 2em;
    background: #2980b9;
    color: #fff;
    text-align: center;
}


.mods section::before, .mods section::after, 
.generalinfo section::after, .generalinfo section::before {
    position: absolute;
    content: '';
    pointer-events: none;
}

.ss-style-zigzag::before, .ss-style-zigzag::after {
    right: 0;
    left: 0;
    z-index: 10;
    display: block;
    height: 90px;
    background-size: 100px 100%;
}

.ss-style-zigzag::before {
    top: -90px;
    background-image: -webkit-gradient(linear, 0 0, 300% 100%, color-stop(0.25, transparent), color-stop(0.25, #2980b9));
    background-image: linear-gradient(315deg, #2980b9 25%, transparent 25%), linear-gradient( 45deg, #2980b9 25%, transparent 25%);
    /*background-position: 50%;*/
}

.ss-style-zigzag::after {
    top: 100%;
    background-image: -webkit-gradient(linear, 0 0, 300% 100%, color-stop(0.25, #2980b9), color-stop(0.25, #2980b9));
    background-image: linear-gradient(135deg, #2980b9 25%, transparent 25%), linear-gradient(225deg, #2980b9 25%, transparent 25%);
    /*background-position: 50%;*/
}




.mods {
    position: relative;
    padding-top: 4rem;
    background: #ADD7F6;
    color: #343a40;
}

.ss-style-boxes::after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-image: -webkit-gradient(linear, 100% 0, 0 100%, color-stop(0.5, #ADD7F6), color-stop(0.5, #ADD7F6));
    background-image: linear-gradient(to right, #ADD7F6 50%, #6EB257 50%);
    -webkit-background-size: 130px 100%;
    background-size: 130px 100%;
}


.pluglist {
    max-height: 400px;
    overflow-y: scroll;
}

.tableadjust {
    display: table;
    width: 100%;
}


#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #99c2e0;
}

#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar,
#style-10::-webkit-scrollbar,
#style-11::-webkit-scrollbar {
    width: 15px;
    /*background-color: #FFF;*/
}


#style-10::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(left, #96A6BF, #63738C);
  box-shadow: inset 0 0 1px 1px #5C6670;
}

#style-10::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #eee;
  box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0,0,0,0.3)
}

#style-10::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(left, #8391A6, #536175);
}


#style-11::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
  border: 1px solid #ccc;
}

#style-11::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(left, #fff, #e4e4e4);
  border: 1px solid #aaa;
}

#style-11::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

#style-11::-webkit-scrollbar-thumb:active {
  background: linear-gradient(left, #22ADD4, #1E98BA);
}














/*.ss-style-boxes::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-image: -webkit-gradient(linear, 100% 0, 0 100%, color-stop(0.5, #3498db), color-stop(0.5, #2980b9));
    background-image: linear-gradient(to right, #3498db 50%, #2980b9 50%);
    -webkit-background-size: 130px 100%;
    background-size: 130px 100%;
}*/


/*.ss-style-boxes {
    padding-top: 4em;
    padding-bottom: 13em;
}*/